<h1>About Us</h1>
<%= image_tag "Black Minimal Motivation Quote LinkedIn Banner (1).png",alt:"Linkedin Banner",class:"image_about" %><br>
I'm a web developer with experience in WordPress, PHP, JavaScript, HTML, and CSS. I am also a beginner in Ruby and Ruby on Rails, actively expanding my skill set.<br>
Last year, I was the first-year IT major of promotion at Higher Institute of Technological Studies of Rades, and I am now continuing my studies as a second-year student.<br>
I'm interested in problem-solving and web development, committed to advancing my career as a web and software engineer.