<h2>About Us</h2>
<%= image_tag "Black Minimal Motivation Quote LinkedIn Banner (1).png",alt:"Linkedin Banner",class:"image_about" %><br><br>
<div style="width:80%;font-size:20px">
<span>&nbsp&nbsp&nbsp&nbsp</span>I'm a web developer with experience in <strong>WordPress</strong>, <strong>PHP</strong>, <strong>JavaScript</strong>, <strong>HTML</strong>, and <strong>CSS</strong>. I am also a beginner in <strong>Ruby</strong> and <strong>Ruby on Rails</strong>, actively expanding my skill set.<br>
Last year, I was the first-year IT major of promotion at <strong>Higher Institute of Technological Studies of Rades</strong>, and I am now continuing my studies as a second-year student.<br>
I'm interested in problem-solving and web development, committed to advancing my career as a web and software engineer.
</div>